<html>
    <head>
        <title>Loading...</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body class="duration-500">
        <div id="container" class="w-full h-full bg-slate-950 flex justify-center items-center">
            <div class="w-[100px] h-[100px] rounded-full border-8 border-t-blue-600 sm:border-t-green-600 md:border-t-red-600 lg:border-t-purple-600 xl:border-t-orange-600 border-gray-100 animate-spin"></div>
        </div>

        <script>
            setTimeout(() => {
                window.location.href = "index.html";
            }, 3000);
        </script>
    </body>
</html>
